$medium-color: rgba(0,0,0, 0.5)
$dark-color: rgba(0,0,0, 0.75)
// $dark-color: #1f1b18
$black: #000000
$light-color: #ffffff
$error-color: #e51c1c 
// $purple_neon: #bc2a8d
$telegram-color: #00aced
$instagram-color: #df6664
$whatsapp-color: #48e965
$behance-color: #0056ff
$form-color: #605f5e