$medium-color: rgba(0,0,0, 0.5)
$dark-color: rgba(0,0,0, 0.75)
// $dark-color: #1f1b18
// $dark-color: #605f5f
$black: #000000
$light-color: #ffffff
$error-color: #e51c1c 
$telegram-color: #00aced
$instagram-color: #e72379
$whatsapp-color: #48e965
$behance-color: #0056ff
$pinterest-color: #e00022
$form-color: #605f5e