@font-face {
  font-family: 'Proxima Nova Light';
  src: url('../fonts/ProximaNova/ProximaNova-Light.eot');
  src: url('../fonts/ProximaNova/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova/ProximaNova-Light.woff') format('woff'),
  url('../fonts/ProximaNova/ProximaNova-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Thin';
  src: url('../fonts/ProximaNova/ProximaNovaT-Thin.eot');
  src: url('../fonts/ProximaNova/ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova/ProximaNovaT-Thin.woff') format('woff'),
  url('../fonts/ProximaNova/ProximaNovaT-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url('../fonts/ProximaNova/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova/ProximaNova-Regular.eot.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova/ProximaNova-Regular.woff') format('woff'),
  url('../fonts/ProximaNova/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('../fonts/ProximaNova/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova/ProximaNova-Bold.woff') format('woff'),
  url('../fonts/ProximaNova/ProximaNova-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

@mixin thin {
  font-family: 'Proxima Nova Thin', sans-serif; 
}

@mixin bold {
  font-family: 'Proxima Nova Bold', sans-serif;
}

@mixin reg {
  font-family: 'Proxima Nova Regular', sans-serif;
}

@font-face {
  font-family: 'SONGER Grotesque';
  src: 
  url('../fonts/Songergrotesque/Songergrotesque.woff') format('woff'),
  url('../fonts/Songergrotesque/Songergrotesque.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

@font-face {
  font-family: 'SONGER Grotesque Bold';
  src: 
  url('../fonts/Songergrotesque/Songergrotesquebold.woff') format('woff'),
  url('../fonts/Songergrotesque/Songergrotesquebold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

