*
  box-sizing: border-box
  
body 
  font-family: 'Proxima Nova Regular', sans-serif

img
  max-width: 100%

a 
  text-decoration: none
  outline: none
  cursor: pointer

.container 
  max-width: 90%
  margin: auto

.list 
  padding: 0
  margin: 0
  list-style: none

.section 
  padding-top: 55px

.title 
  font-size: 46px
  line-height: 40px
  text-transform: uppercase
  text-align: center
  font-family: 'SONGER Grotesque Bold'
  letter-spacing: 4px

.input
  border: none
  border-bottom: 1px solid $form-color
  padding: 12px
  outline: none
  background-color: transparent
  color: $light-color
  &:focus
    border-bottom: 1px solid $light-color

input.error 
  border-bottom: 1px solid $error-color
  // &:focus
  //   border: 1px solid $error-color

.button 
  outline: none
  cursor: pointer
  text-transform: uppercase
  letter-spacing: 2px

.arrow 
  z-index: 998
  bottom: 10px
  display: flex
  justify-content: center
  width: 100%
  a
    display: block
    width: 40px
    z-index: 999

// HOVER ЭФФЕКТЫ 
@media (min-width: 992px)
  // HOVER эффекты блока HEADER 
  .header
    &-list 
      &__item
        a 
          position: relative 
          &:before 
            content: ''
            bottom: 0
            left: 0
            position: absolute
            width: 100%
            height: 1px
            background-color: #fff
            transition: 0.2s
            transform: scaleX(0)
          &:hover
            &:before 
              transform: scaleX(1)

  .up 
    &:hover
      opacity: 1
      cursor: pointer

  .portfolio
    &-card 
      &_hover
        &:hover 
          cursor: pointer
          &:before
            opacity: 1

  .follow
    &-slider 
      &__image 
        &:hover
          animation: bloom ease-in-out .75s forwards
          &:before 
            animation: circle .75s

  .telegram 
    a
      &:hover
        transition: 0.5s
        color: $telegram-color

  .instagram
    a
      &:hover
        transition: 0.5s
        color: $instagram-color

  .whatsapp
    a
      &:hover
        transition: 0.5s
        color: $whatsapp-color

  .behance
    a
      &:hover
        transition: 0.5s
        color: $behance-color

  .pinterest
    a
      &:hover
        transition: 0.5s
        color: $pinterest-color

  .contacts
    &__button 
      &:hover
        color: $dark-color
        background: $light-color
        transition: 0.7s
        transition-delay: 0.4s 
        &:before 
          transform: scaleX(1)
        &:after 
          transform: scaleY(1)

    

