.project
  &__hero
    background-image: url("../img/1/hero/1.jpg")
    background-position: center center
    background-size: cover
    background-attachment: fixed
    background-repeat: no-repeat
    height: 100vh
  
#project_1 
  height: 4000px