.compare 
  padding: 0
  &-block 
    display: flex
  &__text 
    display: flex
    align-items: center
    width: 50%
    font-size: 24px
    justify-content: center
    text-align: center
    line-height: 1.4
    text-transform: uppercase
    +thin
    // letter-spacing: 2px
    // font-family: 'SONGER Grotesque'
    p 
      max-width: 80%
  &-image 
    width: 50%
  &_dark
    background-color: #1f1b18
    color: $light-color

@media (max-width: 1150px)
  .compare 
    &__text 
      font-size: 20px

@media (max-width: 850px)
  .compare 
    &__text 
      font-size: 18px

@media (max-width: 750px)
  .compare 
    &-block 
      flex-direction: column
      &:first-child 
        .compare__text
          order: -1
      &:nth-child(2) 
        .compare__text
          background-color: $dark-color
          color: $light-color
    &__text, &-image 
      width: 100%
      font-size: 16px
      p 
        max-width: 95%
    
