.compare 
  padding: 0
  &-block 
    display: flex
  &__text 
    display: flex
    align-items: center
    width: 50%
    font-size: 24px
    // font-family: 'SONGER Grotesque'
    letter-spacing: 4.5px
    justify-content: center
    text-align: center
    line-height: 1.4
    text-transform: uppercase
    p 
      max-width: 80%
    span
      display: block
      font-family: 'SONGER Grotesque'
      font-size: 36px
      padding: 20px 0
  &-image 
    width: 50%
  &_dark
    background-color: #1f1b18
    color: $light-color

@media (max-width: 750px)
  .compare 
    &-block 
      flex-direction: column
      &:first-child 
        .compare-text
          order: -1
    &__text, &-image 
      width: 100%
    
