.compare 
  padding: 0
  &-block 
    display: flex
  &-text 
    display: flex
    align-items: center
    width: 50%
  &-image 
    width: 50%
  &_dark
    background-color: #1f1b18
    color: $light-color
    
