.edge
  &__title 
    margin-bottom: 85px
  &-cards
    display: flex
    justify-content: space-between
    flex-wrap: wrap
  &-card
    display: flex
    align-items: flex-start
    width: 48%
    &__image 
      margin-top: 20px
      font-size: 42px
      width: 7%
    &__content 
      width: 93%
    &__title 
      text-transform: uppercase
    &__text  
      line-height: 1.55
      color: $dark-color
  &-main
    margin-top: 50px
    padding: 15px
    width: 100%
    background-color: $dark-color
    font-family: 'SONGER Grotesque'
    letter-spacing: 4.5px
    color: $light-color
    &__text 
      font-size: 24px
      width: 80%
      margin: auto
      text-align: center
      line-height: 1.55
    

