.follow 
  // padding-bottom: 55px
  &__title 
    margin-bottom: 10px
  &__link, a
    text-align: center
    letter-spacing: 0.8px
    color: $dark-color
    margin-bottom: 35px
    font-size: 20px
  &-slider 
    &__item
      margin: 0 10px
    &__image
      position: relative
      filter: grayscale(.8)
      overflow: hidden
      margin: 0
      height: 100%
      width: 100%
      &:before 
        position: absolute
        top: 50%
        left: 50%
        z-index: 2
        display: block
        content: ''
        width: 0
        height: 0
        background: rgba(255,255,255,.2)
        border-radius: 100%
        transform: translate(-50%, -50%)
        opacity: 0

@media (max-width: 750px)
  .follow 
    &-slider 
      &__image 
        filter: grayscale(0)