.footer 
  background-color: #1f1b18
  color: $light-color
  padding: 15px 0
  &-wrap 
    display: flex
    justify-content: space-between
    align-items: center
  &-logo 
    width: 80px
    height: 80px
    border: 1px solid $medium-color
    border-radius: 80px
    background-color: $light-color
  &-social
    &__list 
      display: flex
      justify-content: center
      list-style: none
      margin-top: 0
      padding: 0
    &__item 
      font-size: 46px
      margin-right: 25px
      a 
        color: $light-color