.header 
  position: relative
  padding: 15px 0
  margin-top: 30px
  z-index: 999
  &:before 
    content: ''
    position: absolute
    background-color: $medium-color
    top: -3px
    left: 0
    height: 56px
    width: 100%
  &-wrap 
    position: relative
    display: flex
    justify-content: space-between
    align-items: center
  &-logo 
    position: absolute
    top: auto
    left: 0
    width: 100px
    z-index: 3
  &__title 
    margin-left: 150px
  &-list 
    display: flex
    text-transform: uppercase
    +thin
    &__item
      margin-right: 30px 
      letter-spacing: 1.2px
      &:last-child
        margin-right: 0
      a 
        color: $light-color
        padding-bottom: 7px
  &-burger 
    display: none
    outline: none
    font-size: 30px
    color: $light-color
    background-color: transparent 
    border: none


@media (max-width: 1200px)
  .header 
    &-logo 
      width: 80px
    &__title 
      margin-left: 90px
    &-list 
      &__item
        margin-right: 15px 
        letter-spacing: 1.2px

@media (max-width: 1100px)
  .header 
    padding: 10px 0
    margin-top: 18px
    &-list
      display: none
    &-burger 
      display: flex

@media (max-width: 750px)
  .header
    margin-top: 0px
    &:before
      background-color: $dark-color
      top: 0
      height: 66px
    &__title 
      max-width: 400px
    &-logo 
      width: 60px

@media (max-width: 444px)
  .header 
    &:before
      height: 74px
    &__title 
      margin-left: 70px