.info 
  background-color: $dark-color
  color: $light-color
  padding-bottom: 55px
  &__title 
    margin-bottom: 65px
    font-family: 'SONGER Grotesque'
  &-list 
    text-transform: uppercase
    list-style: decimal
    font-size: 24px
    +thin
    &__item 
      margin: 16px 0
      padding-left: 10px